<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Task Estimate</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"/>
  </head>
  <body bgcolor=#f0f8ff>
    <div class="container">
      <h1>This is the Task Estimate Tool</h1>
      <p><i>This tool is designed for estimating a task completion time <a href="https://en.wikipedia.org/wiki/Program_evaluation_and_review_technique">with a probabilistic approach</a>.</i>
      </p>
      <br>

      <!-- Results -->
      <div th:if="${estimate}">
        <h5>Your result:</h5>
        <p>
          <b>Expected completion time</b>: <span th:text="${#numbers.formatDecimal(estimate.days, 1, 1)}">5.7</span> days<br>
          <b>Accuracy</b>: +/-<span th:text="${#numbers.formatDecimal(estimate.stDeviation, 1, 1)}">1.0</span> days
        </p>
        <h5>Input params were:</h5>
        <p>
          <b>Most likely</b>: <span th:text="${param.timeostlikely}">5.0</span> days<br>
          <b>Best case</b>: <span th:text="${param.timebestcase}">4.0</span> days<br>
          <b>Worst case</b>: <span th:text="${param.timeworstcase}">10.0</span> days
        </p>
      </div>

      <!--Results table-->
      <div th:if="${tasks}">
        <h5>Your tasks:</h5>
        <table class="table">
          <!--<caption>List of tasks</caption>-->
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Most likely</th>
              <th>Best case</th>
              <th>Worst case</th>
              <th>Estimate</th>
              <th>Accuracy</th>
              <th />
              <th />
            </tr>
          </thead>
          <tr th:for="task: ${tasks}">
            <th scope="row" th:text="${taskStat.count}">1</th>
            <td th:text="${task.name}">My Task</td>
            <td th:text="${task.mostlikely}">5</td>
            <td th:text="${task.bestcase}">1</td>
            <td th:text="${task.worstcase}">10</td>
            <td th:text="${task.estimate.days}">6</td>
            <td th:text="${task.estimate.stdeviation}">+/- 1</td>
            <td>
              <!--Edit button-->
              <form method="get" action="edit-task">
                <input type="number" hidden name="id" value="${task.id}">
                <button class="btn btn-primary btn-sm" type="submit" name="edit">Edit</button>
              </form>
            </td>
            <td>
              <!--Delete button-->
              <form method="post" action="delete-task">
                <input type="number" hidden name="id" value="${task.id}">
                <button class="btn btn-danger btn-sm" name="delete">Delete</button>
              </form>
            </td>
          </tr>
          <tr>
            <td colspan="5" align="right"><b>Total estimate:</b></td>
            <td colspan="2"><b>
              <span th:text="${projestimate.days} ">6</span>
              <span th:text="${projestimate.days==1} ? 'day' : 'days'">days</span>
              <span>( +/- 1</span>
              <span th:text="${projestimate.stdeviation==1} ? 'day)' : 'days)'">day)</span>
            </b></td>
            <td />
            <td />
          </tr>
        </table>
      </div>

      <!--Input form-->
      <div class="card">
        <h5 class="card-header" th:text="${tasks} ? 'Add a new task:' : 'Estimate your task:'">Add a new task:</h5>
        <div class="card-body">
      <form>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="taskname">Task name (optional)</label>
          <div class="col">
            <input type="text" class="form-control" id="taskname">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="input_timeml">Most likely estimate, days</label>
          <div class="col-sm-2">
            <input class="form-control" type="number" id="input_timeml" name=timeostlikely min=0 max=9999 required="required">
          </div>
          <div class="col">
            <small class="form-text text-muted" id="help_timeml">Average completion time for such task</small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="input_timebc">Estimate in the best case (optimistic), days</label>
          <div class="col-sm-2">
            <input class="form-control" type="number" id="input_timebc" name="timebestcase" min=0 max=9999 required="required" placeholder="">
          </div>
          <div class="col">
            <small class="form-text text-muted" id="help_timebc">Completion time if everything goes smooth and easy</small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="input_timewc">Estimate in the worst case (pessimistic), days</label>
          <div class="col-sm-2">
            <input class="form-control" type="number" id="input_timewc" name=timeworstcase min=0 max=9999 required="required">
          </div>
          <div class="col">
            <small class="form-text text-muted" id="help_timewc">Completion time in the worst circumstances, considering all the unexpected problems</small>
          </div>
        </div>
        <button type=submit class="btn btn-primary" th:text="${tasks} ? 'Add task' : 'Get estimate'">Add task</button>
      </form>
        </div>
      </div>

    </div>
    <script type="text/javascript" src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
  </body>
</html>